/* цвет заголовков #212121  */
/* основной цвет #757575 */
/* белый цвет фона #FFFFFF */
/* акцент  #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* футер контакт rgba(255, 255, 255, 0.6) */
/* цвет подвала #2F303A */
/* цвет иконок #AFB1B8 */
/* цвет границы блока */

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-color-white: #ffffff;
  --color-black: #000;
  --primary-bg-color: #F5F5F5;
  --second-bg-color: #F5F4FA;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-order-color: #2F303A;
  --icon-border-color: #AFB1B8;
  --border-color: #EEEEEE;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}
body {
  margin: 0px;
  color: var(--primery-text-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

header {
  background-color: var(--primary-color-white);
  border-bottom: 1px solid #ECECEC;
}

.main-nav,
.site-nav,
.nav,
.contacts-nav {
  display: flex;
}

.main-nav {
  align-items: center;
}
 
.nav__logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.main-nav .nav__logo {
  margin-right: 93px;
  margin-top: auto;
  margin-bottom: auto;
}


.web {
  color: var(--color-black);
}

/* Menu Nav */

.site-nav .site-nav__item a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav .site-nav__link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .site-nav__link.current {
  color: var(--accent-color);
}

.site-nav .site-nav__item .current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* contacts */

.contacts-nav .contacts-nav__contacts {
  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.contacts-nav .contacts-nav__contacts:hover,
.contacts-nav .contacts-nav__contacts:focus {
  color: var(--accent-color);
}

.contacts-nav__contact-icon {
  fill: currentColor;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.contacts-nav .contacts-nav__item + .contacts-nav__item {
  margin-left: 50px;
}

.contacts-nav {
  margin-left: auto;
}

.contacts-nav .contacts-nav__contacts {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

/* order */

.hero  {
  padding-top: 200px;
  padding-bottom: 200px;

}

.order {
  text-align: center;
  background: var(--footer-order-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.order-title {
  color: var(--primary-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;

}

.order .button {            
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);
  opacity: 1;
}

.backdrop.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-color-white);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

}

.form {
  width: 528px;
}

.form-titel {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.form-field {
  display: block;
  display: flex;
  flex-direction: column;
  margin-left: 41px;
  margin-right: 39px;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: border 250ms var(--timing-function);
}

.form-input:focus,
.coment:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.label-name {
  display: inline-block;
  margin-bottom: 4px;
}
.input-wrapper {
  display: block;
  position: relative;
}

 .contract {
  color: var(--accent-color);
 }
.input-icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms var(--timing-function);
}

.form label {
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}

.coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  transition: border 250ms var(--timing-function);
}

.legality .legality-label {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.legality .legality-label a {
  margin-left: 5px;
}
 
.custom-chek {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.checkbox:checked + .custom-chek {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.buton.submit {
  width: 200px;
}

.icon-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color-white);
  padding: 5px;
  transition: fill 250ms var(--timing-function);
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-color);
}
/* Features */

.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-list .item + .item {
  margin-left: 30px;
}
.features-list .title {
  min-width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.features-list p {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.icon-features {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

/* About US  */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: center;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-list li {
  position: relative;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  margin: 0%;
  width: 100%;
  height: 70px;
  line-height: 1.14;
  position: absolute;
  color: var(--primary-color-white);
  text-transform: uppercase;
  font-weight: 700;
  background: rgba(47, 48, 58, 0.8);
}


/* Team  */

.team {
  background-color: var(--second-bg-color);
}
.team-list{
  display: flex;
  justify-content: space-between;
}

.team-grup .team-list .item + .item {
  margin-left: 30px;
}

.team-list .item {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}
.team-grup .description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-color-white);
  border-radius: 0px 0px 4px 4px;
}
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-list p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--icon-border-color);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  fill: var(--primary-color-white);
}

/* Clients */

.clients-iten + .clients-iten {
  margin-left: 30px;
}


.clients-list {
  display: flex;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-border-color);
  border-radius: 4px;
  fill: var(--icon-border-color);
  transition: fill 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  fill: var(--accent-color);
}

/* footer */

.footer {
  background: var(--footer-order-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .nav__logo {
  display: inline-block;
  margin-bottom: 20px;
  
}

.footer .web {
  color: var(--primary-color-white);
}

.footer .address p {
  font-style: normal;
  color: var(--primary-color-white);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 9px;
}

 .address a {
  font-style: normal;
  color: var(--footer-contact-color);
  line-height: 1.71;
  text-decoration: none;
  margin-top: 0;
  
}
.footer .mailme{
margin-bottom: 9px;
display: inline-block;
}

.footer .container {
  display: flex;
}

.footer .second-title {
  font-style: normal;
  color: var(--primary-color-white);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-contact {
  margin-right: 70px;
}

.footer-social {
  margin-right: 93px;
}

.footer-social .social-link {
  fill: var(--primary-color-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  
  transition: background-color 250ms var(--timing-function);
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  cursor: pointer;
  background-color: var(--accent-color);
}

.subscribe {
  display: flex;
}

.subscribe input{
  width: 358px;
  font-size: 16px;
  color: var(--primary-color-white);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  background-color: var(--footer-order-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.8;
  padding-left: 28px;
}

.subscribe-email {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}


/* Buttom */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--primary-color-white);
  background-color: var(--accent-color);
  
  font-family: inherit;
  cursor: pointer;
  text-align: center;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

}

.button.primary {
  color: var(--title-text-color);
  background-color: var(--second-bg-color);
}

.button.second {
  color: var(--primary-color-white);
  background-color: var(--accent-color);
}

/* Project */

/* Filter */

.project-filter .item + .item {
  margin-left: 8px;
}

.project-filter .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
}

.project-filter .button:hover,
.project-filter .button:focus {
  cursor: pointer;
  color: var(--primary-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Gruop */

.project-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-filter .button {
  border-color: transparent;
}

.project-group {
  display: flex;
  flex-wrap: wrap;
  transition: box-shadow 250ms var(--timing-function);
}

.project-group .item {
  box-shadow: 0;
  transition: box-shadow 250ms var(--timing-function);
}
.project-group .item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-group .description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}


.project-group .item {
  width: calc((100% - 60px)/3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-group .item:nth-last-child(-n + 3){
  margin-bottom: 0;
}

.project-group .item:nth-child(3n) {
  margin-right: 0;
}

.project-group .image {
  display: block;
}

.project-group .second-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.project .project-group p {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.project-group .item:hover .portfolio-overlay::before,
.project-group .item:hover .portfolio-overlay-text p {
  cursor: pointer;
  opacity: 1;
  transform: translateY(0%);
}

.portfolio-overlay .portfolio-overlay-text p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 63px 24px;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-color-white);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left:  auto;
  margin-right: auto;
}
