










/* contacts */



/* order */

.order--hero  {
  padding-top: 200px;
  padding-bottom: 200px;

}

.order {
  background: var(--footer-order-color);
}


.order__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.order-title {
  text-align: center;
  color: var(--primary-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;

}

.order .button {            
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);
  opacity: 1;
}

.backdrop.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-color-white);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

}

.form {
  width: 528px;
}

.form__titel {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.form__field {
  display: block;
  display: flex;
  flex-direction: column;
  margin-left: 41px;
  margin-right: 39px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: border 250ms var(--timing-function);
}

.form__input:focus,
.form__coment:focus {
  border: 1px solid var(--accent-color);
}

.form__input:focus + .form__input-icon {
  fill: var(--accent-color);
}

.form__label-name {
  display: inline-block;
  margin-bottom: 4px;
}
.form__input-wrapper {
  display: block;
  position: relative;
}

 .form__contract {
  color: var(--accent-color);
 }
.form__input-icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms var(--timing-function);
}

.form__label {
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}

.form__coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  transition: border 250ms var(--timing-function);
}

.form__legality .form__legality-label {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form__legality .form__legality-label a {
  margin-left: 5px;
}
 
.form__custom-chek {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.form__checkbox:checked + .form__custom-chek {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.buton.submit {
  width: 200px;
}

.form__icon-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color-white);
  padding: 5px;
  transition: fill 250ms var(--timing-function);
}

.form__icon-close:hover,
.form__icon-close:focus {
  fill: var(--accent-color);
}
/* Features */

.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
}

.features__item + .features__item {
  margin-left: 30px;
}
.features__title {
  min-width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.features__text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.features__icon {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

/* About US  */

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  justify-content: center;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__item {
  position: relative;
}

.about__label {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  margin: 0%;
  width: 100%;
  height: 70px;
  line-height: 1.14;
  position: absolute;
  color: var(--primary-color-white);
  text-transform: uppercase;
  font-weight: 700;
  background: rgba(47, 48, 58, 0.8);
}


/* Team  */

.team {
  background-color: var(--second-bg-color);
}
.team__list{
  display: flex;
  justify-content: space-between;
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__item {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-color-white);
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.team__social-list,
.footer__social-list {
  display: flex;
  justify-content: center;
}

.team__social-item + .team__social-item,
.footer__social-item + .footer__social-item {
  margin-left: 10px;
}

.team__social-link,
.footer__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--icon-border-color);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.team__social-link:hover,
.team__social-link:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  fill: var(--primary-color-white);
}

/* Clients */

.clients__iten + .clients__iten {
  margin-left: 30px;
}


.clients__list {
  display: flex;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-border-color);
  border-radius: 4px;
  fill: var(--icon-border-color);
  transition: fill 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  fill: var(--accent-color);
}

/* footer */


.subscribe {
  display: flex;
}

.subscribe__mail{
  width: 358px;
  font-size: 16px;
  color: var(--primary-color-white);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  background-color: var(--footer-order-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__email-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}



/* Project */

/* Filter */

.project-filter__item + .project-filter__item {
  margin-left: 8px;
}

.project-filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
}

.project-filter__button:hover,
.project-filter__button:focus {
  cursor: pointer;
  color: var(--primary-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Gruop */

.project-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-filter__button {
  border-color: transparent;
}

.project-group {
  display: flex;
  flex-wrap: wrap;
  transition: box-shadow 250ms var(--timing-function);
}

.project-group__item {
  box-shadow: 0;
  transition: box-shadow 250ms var(--timing-function);
}
.project-group__item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-group__description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}


.project-group__item {
  width: calc((100% - 60px)/3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-group__item:nth-last-child(-n + 3){
  margin-bottom: 0;
}

.project-group__item:nth-child(3n) {
  margin-right: 0;
}

.project-group__image {
  display: block;
}

.project-group .second-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.portfolio-overlay__info {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.project-group__item:hover .portfolio-overlay::before,
.project-group__item:hover .portfolio-overlay__info {
  cursor: pointer;
  opacity: 1;
  transform: translateY(0%);
}

.portfolio-overlay .portfolio-overlay__info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 63px 24px;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-color-white);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

